h1{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -.05rem;
    margin: 1rem 0;
    font-family: 'Bebas Neue', cursive;
    color: blueviolet;
}
.header{
    background-color: bisque;
    text-align: center;
    color: blueviolet;
}